body{
    background-color: rgb(29, 29, 29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


html{
    scroll-behavior: smooth;
  }
  
  .flex{
    justify-content: center;
    display: flex;
  
  }

  
  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

  }
  .grid_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

  }
  .grid_timeline{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .grid_submit{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

  }

  .flex_usergettingbox{
    justify-content: center;
    display: flex;
  }
  
  .hidden{
    display: none;
  }
  
  
  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   
  .content-grid {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );
  
    display: grid;
  
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
      
  }
  
  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
    
  }
  
  .content-grid > .breakout {
    
    grid-column: breakout;
  }
  
  .content-grid > .full-width {
    grid-column: full-width;
  
    display: grid;
    grid-template-columns: inherit;
  }
  
  img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
  }








  .mainbox{
    border: 1px solid rgb(39, 39, 39);
    box-shadow: 0px 0px 15px rgb(36, 36, 36);
    width: 90%;
    height: auto;
    padding-bottom: 50px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
  }

  .innermainbox{
    margin: auto;
    width: 60%;
   margin-top: 25px;
   height: 250px;
   border-radius: 10px;
   box-shadow: 0px 0px 15px rgb(39, 39, 39);
   border: 1px solid rgb(41, 41, 41);
   background-color: rgb(24, 24, 24);
  }

  .crashpoint_mainshower{
    text-align: center;
    align-self: center;
    font-weight: bolder;
    color: rgb(224, 229, 230);
    font-size: 50px;
  }

  .stats_display{
  
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: -80px;
    padding: 10px 0px;
    text-align: center;
    font-size:x-large ;
    box-shadow: 0px 0px 5px rgb(61, 61, 61) inset;
    color: orangered;
    border-radius: 5px;
    align-items: center;
    cursor: text;


    display: none;

  }


  .bet_Start_btn{
    width: 40%;
    background: rgb(29,177,108);
    background: linear-gradient(139deg, rgb(41, 161, 71) 22%, rgb(47, 150, 69) 60%);
    box-shadow: 0px 0px 10px inset black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    height: 60px;
    font-size: x-large;


  }

  .box{
    border: 1px solid rgb(27, 27, 27);
    width:96%;
    min-height: 200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding-bottom: 10px;
  }


  .amount_inner_Box_small{
    color: white;
    font-weight: bolder;
    margin-left: 10px;
    font-size: medium;
  }
.input_money_enter{
  margin-left: 10px;
  width: 90%;
  height: 30px;
  background-color: rgb(24, 24, 24);
  color: white;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-size: small;
  font-weight: bolder;
  outline: none;

}

.autochasout_btn{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  font-size: medium;
  color: rgb(204, 204, 204);
  border: 1px solid rgb(59, 59, 59);;
  box-shadow: inset 0px 0px 4px rgb(59, 59, 59);

}
.autochasout_btn_resset{
  width: 25%;

  margin: auto;
  margin-top: 20px;
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  font-size: medium;
  color: rgb(185, 185, 185);
  border: 1px solid rgb(56, 56, 56);;
  box-shadow: inset 0px 0px 4px rgb(59, 59, 59);

}

.btn_inner_input{
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(173, 173, 173);
  font-size: large;
  margin: auto;
  margin-top: 25px;

}

.btn_inner_input:hover{
  transition: 0.3s;
  border: 1px solid rgb(122, 122, 122);
  color: whitesmoke;
}
.autochasout_btn_resset:hover{
  transition: 0.3s;
  border: 1px solid rgb(122, 122, 122);
  color: whitesmoke;
}
.autochasout_btn:hover{
  transition: 0.3s;
  border: 1px solid rgb(122, 122, 122);
  color: whitesmoke;
}


.header_balance{
  width: 200px;
  height: 50px;
  margin: 0;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
  color: rgb(0, 255, 34);;
  border: 1px solid rgb(48, 48, 48);
  box-shadow: 0px 0px 15px inset  rgb(48, 48, 48);
}
.balance_Text{
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;

}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.profit_box{
  width: 30%;
  height: 70px;
  border: 1px solid rgb(41, 41, 41);
  box-shadow:   0px 0px 15px rgb(32, 32, 32);;
  margin: auto;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  color: green;

}
.flex_btn_adad{
  display: flex;
  justify-content: center;
}
.autocashout_showernumber{
  text-align: start;
  color: gray;
  margin-left: 15px;
  font-weight: bolder;
}
.flex_auto{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 650px) {

  .flex_auto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .autochasout_btn_resset{
    width: 80%;
  }
  .flex_usergettingbox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .profit_box{
    width: 50%;
  }
  .autochasout_btn{
    width: 80%;
  }
  .input_money_enter{
    width: 80%;
    justify-content: center;
  }

}
@media only screen and (max-width: 450px) {

  .grid_2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .input_money_enter{
    margin: 0;
    width: 90%;
    justify-content: center;
    margin: auto;
  }
  .innermainbox{
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .profit_box{
    width: 90%;
    
  }
.flex_btn_adad{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.bet_Start_btn{
  width: 80%;
}
.stats_display{
  width: 70%;
}





}




.tytel_x_shower_inbox{
  width: 100%;
  height: 75px;
  
  border-radius: 5px;
  margin: auto;
}

.tytel_x_shower_inbox_inner{
  width: 100px;
  height: 74px;
  border: 1px solid rgb(71, 71, 71);
  margin: 0;
  font-size: large;
  align-items: center;
  border-radius: 5px;
  margin-inline: 10px;
  color: green;
  margin-top: 5px;
  font-weight: bolder;
  font-size: large;
  overflow: hidden;
}
.tytel_x_shower_inbox_inner_loss{
  width: 100px;
  height: 74px;
  border: 1px solid rgb(71, 71, 71);
  margin: 0;
  font-size: large;
  align-items: center;
  border-radius: 5px;
  margin-inline: 10px;
  color: rgb(221, 119, 3);
  margin-top: 5px;
  font-weight: bolder;
  font-size: large;
  overflow: hidden;
}


.flex_tytel{
  display: flex;
  justify-content: start;

}

@media only screen and (max-width: 750px) {

  .tytel_x_shower_inbox_inner{
    margin: 3px;
    height: 50px;
    width: 25%;
    
    font-size: small;
  }
.tytel_x_shower_inbox_inner_loss{
  margin: 3px;
  height: 50px;
  width: 25%;
  
  font-size: small;
}

}